{% extends "game/base.html" %}

{% block body %}
  
  <h1> About Lafayette Art Game </h1>

<div class="transbox">  
  <h2> Background </h2>
  <p>
	Within the past two years, Lafayette College has acquired about 1500 contemporary photographs
	that represent a range of topics from the 19th to 21st century. In addition to these 1500 
	new photographs, Lafayette College also has about 500 older photographs in their collection.
	These photographs are not cataloged digitally or physically, meaning that they have no 
	associated labels. As a result, faculty and students have no effective methods to access 
	these photographs for research or educational purposes. In fact, most faculty and students are
	not even aware that such resources are available for them. Previously, if interested in a 
	photograph, one had to contact Michiko Okaya (the director of art galleries and collections of
	Lafayette College) who would searche through archival boxes based on generic information. 
	In order to make this process more effective for all parties, our team will design a system
	that utilizes a game to assign labels and keywords to each photograph. By creating a game 
	interface, we can incentivise students, faculty and staff to label each photograph by 
	rewarding them with points and rankings. This game will allow players from a wide range of 
	backgrounds to create accounts to submit labels which our team uses to determine which 
	labels are the most applicable to a given image.
  </p>

  <h2> Our Project </h2>
  <p>
	Lafayette College Image Labeling Game is a web application whose purpose is to aid the Director
	of Art and the entire Lafayette community in categorizing various archived images. 

	The inspiration for this web application comes from several different sources. The German 
	Research Foundation developed a social image tagging game called ARTigo where they provide
	anonymous players with original artworks reproduced digitally and the opportunity to allocate
	keywords to these artworks within a certain amount of time. Additionally, Google Image 
	Labeler is a feature that allows users to label random images to help improve the quality 
	of Google's image search results. This was based off the ESP game licensed by Google in 2006. 
  </p>

  <h2> Special Shoutout </h2>
  <p>
         A special shoutout to our dedicated professor and project advisor, Joann Ordille, whose
        encouragement and help always inspired us to keep on coding!
  </p>
  
  <h2> About us </h2>  
  <p>
	This project is brought to you by a team of seniors from the Computer Science Department at
	Lafayette College. During the completion of the Senior Project course, our team has the 
	opportunity to build a software solution for a customer throughout the term. Our team will 
	follow an agile software engineering process to complete this project for our customer.
  </p>
 </div>
  <!--<img src="ourgroupphoto.jpg" alt="This is our group!">-->
{% endblock %}

